{% extends 'base.html' %}

{% block content %}
<div id="signup-page">
    <h1 class="header">Sign Up</h1>
    {% if username_error is defined %}
    <span class="error">{{username_error}}</span>
    {% endif %}
    {% if password_error is defined %}
    <span class="error">{{password_error}}</span>
    {% endif %}
    {% if verify_error is defined %}
    <span class="error">{{verify_error}}</span>
    {% endif %}
    <form method='POST'>
        <div class="row">
            <label for="username">Username</label>
            <input type="text" name="username" value>
        </div>
        <div class="row">
            <label for="password">Password</label>
            <input type="password" name="password" value>
        </div>
        <div class="row">
            <label for="verify-password">Verify Password</label>
            <input type="password" name="verify-password" value>
        </div>

        <button type="submit">Sign Up</button>
    </form>
</div>
{% endblock %}