{% extends 'base.html' %}

{% block content %}
<h1 class="header">Sign Up</h1>

<form method='POST'>
    <div class="row">
        <label for="username">Username</label>
        <input type="text" name="username" value>
        <span class="error">{{username_error}}</span>
    </div>

    <div class="row">
        <label for="password">Password</label>
        <input type="password" name="password" value>
        <span class="error">{{password_error}}</span>
    </div>

    <div class="row">
        <label for="verify-password">Verify Password</label>
        <input type="password" name="verify-password" value>
        <span class="error">{{verify_error}}</span>
    </div>

    <button type="submit">Sign Up</button>
</form>
{% endblock %}