{% extends "base.html" %}
{% block content %}
<div id="login-page" class="page">
    <h1 class="header">Log in</h1>
    <p class="sub-header">If you don't have an account, you may <a href="/signup">register</a> for one</p>

    <form action="/login" method="POST">
        <div class="row">
            <label for="username">Username</label>
            <input name="username" type="text" value="{{ username }}" required>
        </div>
        <div class="row">
            <label for="password">Password</label>
            <input name="password" type="password" required autocomplete="current-password">
        </div>
        <div class="row error">
            <span class="error">{{username_error}}</span>
            <span class="error">{{password_error}}</span>
        </div>

        <button class="primary" type="submit">Log In</button>
    </form>
</div>
{% endblock %}