{% extends "base.html" %}

{% block content %}
<div id="create-blog-post-page" class="page">
    <h1 class="header">New blog post</h1>
    <form method='POST' id="create_new_blog_entry">
        <input type="text" name='title' placeholder="Title" maxlength="50" minlength="5" required />
        <textarea name="entry" form="create_new_blog_entry" rows="10" cols="21" placeholder="Entry" minlength="5"
            maxlength="1000" required></textarea>
        <div class="row error">
            <span class="error">{{title_error}}</span>
            <span class="error">{{entry_error}}</span>
        </div>
        <button type="submit">Publish</button>
    </form>
</div>
{% endblock %}