{% extends 'base.html' %}

{% block content %}

{% for user in users_list %}
<ul class="users">
    <li>
        <a class="user" href="/blog?user={{user.id}}">{{user.username}}</a>
        <p class="about">{{user.about_me}}</p>
        <div class="metadata">
            <span class="post-count">Post count: {{post_count_by_user[user.id]}}</span>
            <span class="since">Member since: {{user.member_since.strftime("%B %d, %Y")}}</span>
        </div>
    </li>
</ul>
{% endfor %}

{% endblock %}