{% extends 'base.html' %}

{% block content %}

{% if featured_user %}
<a class="featured-container" href="/blog?user={{featured_user.id}}">
    <div class="featured user">
        <h2>Featured user</h2>
        <p class="about">{{featured_user.about_me}}</p>
        <span class="user">@{{featured_user.username}}</span>
    </div>
</a>
{% endif %}
{% if users_list|length > 0 %}
<ul class="users">
    {% for user in users_list %}
    <li>
        <div class="header">
            <img src="{{user.avatar_url}}" alt="{{user.username}}'s avatar" class="avatar"
                onerror="this.onerror=null;this.src='../../../static/images/icons/avatar.png';">
            {% if user.username == session['username'] %}
            <a class="user you" href="/blog?user={{user.id}}" title="You">{{user.username}} (You)</a>
            {% else %}
            <a class="user" href="/blog?user={{user.id}}">{{user.username}}</a>
            {% endif %}
        </div>
        <p class="about">{{user.about_me}}</p>
        <div class="metadata">
            <span class="post-count">Post count: {{post_count_by_user[user.id]}}</span>
            <span class="since">Member since: {{user.member_since.strftime("%B %d, %Y")}}</span>
        </div>
        <div class="bg-image"></div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p class="no-users">No users found. Be the first by <a href="/signup">registering</a> for an account.</p>
{% endif %}

{% endblock %}