/* ___________________ FONTS ____________________________ */

@font-face {
  font-family: sarabun-bold;
  src: url("../fonts/Sarabun/Sarabun-Bold.ttf");
}

@font-face {
  font-family: sarabun-regular;
  src: url("../fonts/Sarabun/Sarabun-Regular.ttf");
}

@font-face {
  font-family: sarabun-light;
  src: url("../fonts/Sarabun/Sarabun-Light.ttf");
}

@font-face {
  font-family: sarabun-italic;
  src: url("../fonts/Sarabun/Sarabun-Italic.ttf");
}

/* ------------------- VARIABLES ------------------- */

:root {
  --primary-color: rgb(14, 17, 40);
  --secondary-color: rgb(0, 171, 245);
  --tertiary-color: rgb(219, 222, 227);
  --quaternary-color: rgb(255, 95, 104);
  --quinary-color: #18181c;
}

html {
  height: 100%;
  width: 100%;
  font-family: sarabun-regular;
  font-size: 16px;
  background-color: var(--tertiary-color);
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* ------------------- NAVIGATION ------------------- */

#app-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 2.8rem;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 20px 0 0 0;
  background-color: var(--quinary-color);
  border-radius: 4px;
  color: var(--tertiary-color);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#app-title {
  font-family: sarabun-bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: var(--tertiary-color);
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

#app-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: var(--tertiary-color);
  list-style: none;
}

#app-navigation .link-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 12px;
  border-radius: 4px;
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--tertiary-color);
  cursor: pointer;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

#app-navigation .link-item:hover,
#app-navigation .link-item:active,
#app-navigation .link-item.selected {
  color: var(--quinary-color);
  background-color: var(--quaternary-color);
}

#app-navigation .link-item:hover svg,
#app-navigation .link-item:active svg,
#app-navigation .link-item.selected svg {
  fill: #18181c;
}

#app-navigation svg {
  fill: var(--tertiary-color);
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

#app-navigation a {
  text-decoration: none;
  color: inherit;
}

/* ------------------- CONTENT ------------------- */

.content {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 0;
  height: calc(100% - 2.8rem);
  width: 90%;
  color: var(--quinary-color);
}

.header {
  letter-spacing: 1px;
}

.content button {
  color: var(--quinary-color);
  padding: 7px 12px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  border: none;
  cursor: pointer;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

.content button:hover {
  filter: contrast(1.5);
}

.content a {
  text-decoration: none;
  color: var(--secondary-color);
}

.content a:hover {
  filter: contrast(1.5);
}

.flashed-messages {
  padding: 0;
  margin: 16px 0;
  color: var(--quaternary-color);
  list-style: none;
}

/* ------------------- LOG IN PAGE ------------------- */

#login-page,
#signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 25px;
  height: auto;
  width: clamp(200px, 28%, 50ch);
  text-align: left;
  color: var(--tertiary-color);
  background-color: #18181c;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#login-page .header,
#signup-page .header {
  font-family: sarabun-bold;
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 0;
  width: 100%;
  text-align: left;
}

#login-page .sub-header,
#signup-page .sub-header {
  margin: 0;
  text-align: left;
  width: 100%;
}

#login-page form,
#signup-page form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 15px;
  margin: 0;
  padding: 0;
  text-align: left;
}

#login-page form .row,
#signup-page form .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#login-page input,
#signup-page input,
#signup-page textarea {
  width: 25ch;
  border: transparent 1px solid;
  -webkit-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

#login-page input:focus,
#signup-page input:focus,
#signup-page textarea:focus {
  outline: transparent;
  border: var(--secondary-color) 1px solid;
}

#signup-page textarea {
  height: 20ch;
}

/* ------------------- BLOGGERS ------------------- */

.users {
  list-style: none;
  padding: 0;
  margin: 0;
}

.users > li {
  color: var(--tertiary-color);
  padding: 15px 20px;
  border-radius: 4px;
  background-color: var(--quinary-color);
}

.metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-count {
  font-family: sarabun-light;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.since {
  font-family: sarabun-light;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/* ------------------- BLOGS ------------------- */

.blog-previews {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.blog-preview {
  color: var(--tertiary-color);
  padding: 15px;
  border-radius: 4px;
  background-color: #18181c;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* ------------------- FOOTER ------------------- */
.app-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 2.8rem;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 0 20px 0;
  background-color: var(--quinary-color);
  border-radius: 4px;
  color: var(--tertiary-color);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#copyright {
  font-family: sarabun-light;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

#socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}

#socials a {
  text-decoration: none;
  color: var(--tertiary-color);
}

#socials a:hover {
  filter: brightness(1.1);
}

#socials img {
  height: 1.8rem;
}

#socials img:hover,
#socials img:active {
  scale: 1.1;
}

.error {
  color: red;
}
