.header, .subheader {
    text-align: center;
} 

form {
    width: 35vw;
    margin: 10px auto 30px auto;
}

.card {
    margin: 30px auto 30px auto;
}


.error {
    color: red;
}

.session1 {
    padding-left: 55em;
}

.session2 {
    padding-left: 1em;
}