/* ___________________ FONTS ____________________________ */

@font-face {
  font-family: sarabun-bold;
  src: url("../fonts/Sarabun/Sarabun-Bold.ttf");
}

@font-face {
  font-family: sarabun-regular;
  src: url("../fonts/Sarabun/Sarabun-Regular.ttf");
}

@font-face {
  font-family: sarabun-light;
  src: url("../fonts/Sarabun/Sarabun-Light.ttf");
}

@font-face {
  font-family: sarabun-italic;
  src: url("../fonts/Sarabun/Sarabun-Italic.ttf");
}

/* ------------------- VARIABLES ------------------- */

:root {
  --primary-color: rgb(14, 17, 40);
  --secondary-color: rgb(0, 171, 245);
  --tertiary-color: rgb(219, 222, 227);
  --quaternary-color: rgb(255, 95, 104);
  --quinary-color: #18181c;
}

html {
  height: 100%;
  width: 100%;
  font-family: sarabun-regular;
  font-size: 16px;
}

.error {
  color: red;
}
