{% extends "base.html" %}
{% block content %}
<div class="blog-post">
  <h1 class="title">{{blog_post.title}}</h1>
  <p class="entry">{{blog_post.entry}}</p>
  <hr>
  {% if is_owner %}
  <p class="author">
    written by <i>you</i>
    <span class="date">
      on {{blog_post.created_at.strftime("%B %d, %Y")}}
    </span>
  </p>
  <div>
    <a href="/edit-blog-post?blog_post_id={{blog_post.id}}">
      <button class="delete" type="button" title="Edit blog post">Edit</button>
    </a>
  </div>
  {% else %}
  <p class="author">
    written by <a href="/blog?user={{blog_post.author_id}}">{{blog_post.author.username}}</a>
    <span class="date">
      on {{blog_post.created_at.strftime("%B %d, %Y")}}
    </span>
  </p>
  {% endif %}
</div>
<section id="comment-section">
  <h2 class="sub-header">Leave a comment</h2>
  <form method='POST' id="post_comment_form" action="/comment?blog_post_id={{blog_post.id}}">
    <textarea name="comment" form="post_comment_form" rows="10" cols="21" placeholder="Enter your comment here" required
      minlength="5" maxlength="1000"></textarea>
    <div class="row error">
      <span class="error">{{comment_error}}</span>
    </div>
    <button type="submit">Post comment</button>
  </form>
  <ul class="comments">
    {% for comment in comments %}
    <li class="comment">
      <p class="comment-body">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
          <path
            d="M240-400h480v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM880-80 720-240H160q-33 0-56.5-23.5T80-320v-480q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v720ZM160-320h594l46 45v-525H160v480Zm0 0v-480 480Z" />
        </svg>
        {{comment.comment}}
      </p>
      <p class="comment-author">
        written by <a href="/blog?user={{comment.author_id}}">{{comment.author.username}}</a>
        <span class="date">
          on {{comment.created_at.strftime("%B %d, %Y")}}
        </span>
    </li>
    {% endfor %}
    {% if comments|length == 0 %}
    <li class="no-comments">No comments yet</li>
    {% endif %}
  </ul>
</section>
{% endblock %}