{% extends "base.html" %}
{% block content %}
    <h2 class="header">{{header}}</h2>

    {% for blog_post in blog %}
        <div class="card" style="width: 40rem; height: 10rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="/blog?blog_post_id={{blog_post.id}}">{{blog_post.title}}</a>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">
                    {{blog_post.entry[0:100]}}...
                </p>
                written by <a class="card-link" href="/blog?user={{blog_post.author_id}}">{{blog_post.author.username}}</a>
                
                <a class="card-link" href="/blog?blog_post_id={{blog_post.id}}">
                    View Blog Post
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}