{% extends "base.html" %}
{% block content %}

{% if scope == 'user' %}
<div class="blog-user">
    <div class="header">
        <img src="{{user.avatar_url}}" alt="{{user.username}}'s avatar" class="avatar lg"
            onerror="this.onerror=null;this.src='../../../static/images/icons/avatar.png';">
        {% if user.username == session['username'] %}
        <a class="user you" href="/edit-profile" title="You">
            <h1>{{user.username}} (You)</h1>
        </a>
        {% else %}
        <h1 class="user">{{user.username}}</h1>
        {% endif %}
        <div class="bg-image"></div>
    </div>
    <p class="about">{{user.about_me}}</p>
    <div class="metadata">
        <span class="post-count">Post count: {{blog|length}}</span>
        <span class="since">Member since: {{user.member_since.strftime("%B %d, %Y")}}</span>
    </div>
</div>
{% endif %}
{% if featured_blog %}
<a class="featured-container" href="/blog?blog_post_id={{featured_blog.id}}">
    <div class="featured blog">
        <h2>Featured blog</h2>
        <span class="title">{{featured_blog.title}}</span>
        {% if featured_blog.entry|length > 350 %}
        <p class="entry">
            {{ featured_blog.entry[:350] | trim }}...
        </p>
        {% else %}
        <p class="entry">
            {{ featured_blog.entry | trim}}
        </p>
        {% endif %}
    </div>
</a>
{% endif %}
{% if blog|length > 0 %}
<ul class="blog-previews">
    {% for blog_post in blog %}
    <li class="blog-preview">
        <h3 class="title">
            <a href="/blog?blog_post_id={{blog_post.id}}">{{blog_post.title}}</a>
        </h3>
        {% if blog_post.entry|length > 75 %}
        <p class="entry">
            {{ blog_post.entry[:75] | trim }}...
        </p>
        {% else %}
        <p class="entry">
            {{ blog_post.entry | trim}}
        </p>
        {% endif %}
        {% if blog_post.author.username == session['username'] %}
        <p class="author">
            written by <a href="/blog?user={{blog_post.author_id}}"><i class="you">you</i></a>
        </p>
        {% else %}
        <p class="author">
            written by <a href="/blog?user={{blog_post.author_id}}">{{blog_post.author.username}}</a>
        </p>
        {% endif %}
        <div class="metadata">
            <span class="date">
                on {{blog_post.created_at.strftime("%B %d, %Y")}}
            </span>
            <span class="comment-count">
                <a href="/blog?blog_post_id={{blog_post.id}}#comment-section">
                    {{blog_post.comments|length}} comments
                </a>
            </span>
        </div>
        <div class="bg-image"></div>
    </li>
    {% endfor %}
</ul>
{% elif scope == 'user' %}
<p class="no-blog-posts">
    {{user.username}} has no blog posts.
</p>
{% else %}
<p class="no-blog-posts">
    No blog posts found. Be the first by <a href="/create-blog-post">creating a new blog post</a> or <a
        href="/signup">registering</a> for an account.
</p>
{% endif %}
{% endblock %}