{% extends 'base.html' %}
{% block content %}

<h1>Signup</h1>

<table>
    <tbody>
     <form method='POST'>

        <tr>
        <td><label for="username">Username</label></td>
        <td><input type="text" name="username" value>
        <span class="error">{{username_error}}</span></td>
        </tr>
        

        <tr>
        <td><label for="password">Password</label></td>
        <td><input type="password" name="password" value>
        <span class="error">{{password_error}}</span></td>
        </tr>

        <tr>
        <td><label for="verify-password">Verify Password</label></td>
        <td><input type="password" name="verify-password" value>
        <span class="error">{{verify_error}}</span></td>
        </tr>

        
    </tbody>
</table>
        
        <input type="submit" />
    
    </form>

{% endblock %}   